<?xml version="1.0"?>
<!-- SPDX-FileCopyrightText: 2020-2021 Smart Robotics Lab, Imperial College London -->
<!-- SPDX-FileCopyrightText: 2020-2021 Sotiris Papatheodorou -->
<!-- SPDX-License-Identifier: CC0-1.0 -->
<launch>
  <!-- habitat-ros node and MAV simulator -->
  <include file="$(find habitat_ros)/launch/habitat_ros_sim.launch" pass_all_args="true">
  </include>

  <!-- rviz with appropriate config -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find habitat_ros)/config/habitat_ros.rviz" />
</launch>

