<?xml version="1.0"?>
<!-- SPDX-FileCopyrightText: 2020-2021 Smart Robotics Lab, Imperial College London -->
<!-- SPDX-FileCopyrightText: 2020-2021 Sotiris Papatheodorou -->
<!-- SPDX-License-Identifier: CC0-1.0 -->
<launch>
  <include file="$(find habitat_ros)/launch/habitat.launch" pass_all_args="true"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find habitat_ros)/config/habitat.rviz"/>
</launch>

