<?xml version="1.0"?>
<!-- SPDX-FileCopyrightText: 2020-2021 Smart Robotics Lab, Imperial College London -->
<!-- SPDX-FileCopyrightText: 2020-2021 Sotiris Papatheodorou -->
<!-- SPDX-License-Identifier: CC0-1.0 -->
<launch>
  <!-- Set the ROS log level in rosconsole.conf -->
  <env name="ROSCONSOLE_CONFIG_FILE"
      value="$(find habitat_ros)/config/rosconsole.conf"/>

  <!-- Node arguments -->
  <arg name="habitat_ros_config_file"
      default="$(find habitat_ros)/config/config.yaml"/>
  <arg name="command_prefix"
      default=""/>

  <!-- Node -->
  <node pkg="habitat_ros"
      name="habitat_ros"
      type="habitat_ros_node.py"
      clear_params="true"
      output="screen"
      launch-prefix="$(arg command_prefix)">
    <!-- Include rosparam yaml file -->
    <rosparam command="load" file="$(arg habitat_ros_config_file)"/>
  </node>
</launch>

